<html>
     <head></head>
     <body>
         <h1>Contact us:{{ name }}</h1>
         <a href="{{ path('app_home')}}">home page</a>
                  <a href="{{ path('app_contact')}}">contact us</a>
        </body>
    </html>