 <html>
     <head></head>
     <body>
         <h1>Hello 3A22</h1>
         <a href="{{ path('app_home')}}">home page</a>
         <a href="{{ path('app_contact')}}">contact us</a>


        </body>
    </html>